/* src/Login.css */

body, html{
  height: 100%;
  margin:0;
  display:flex;
  justify-content: center;
  align-items: center;
}
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    float: left;
    /* text-align: center; */
  }
  
  .login-container h2 {
    text-align: center;
  }
  
  .login-container div {
    margin-bottom: 10px;
  }
  
  .login-container label {
    display: block;
  }
  
  .login-container input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-container button:hover {
    background-color: #0056b3;
  }
  